<app-navigation>

</app-navigation>

<section class="contenido">
    <nav class="nav-vertical animate__animated animate__bounceIn">
        <ul class="list-icons">

            <li>
                <a href="">
                    <i class="myIcon fa fa-list" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href=""><i class="effectIcon myIcon fa fa-home" aria-hidden="true"></i></a>
            </li>

            <li>
                <a href=""><i class="effectIcon myIcon fa fa-database" aria-hidden="true"></i></a>
            </li>



            <li>
                <a href=""><i class="effectIcon myIcon fa fa-user" aria-hidden="true"></i></a>
            </li>

            <li>
                <a href=""><i class="effectIcon myIcon fa fa-plus" aria-hidden="true"></i></a>
            </li>

        </ul>

    </nav>

    <!-- ROUTER SECUNDARIO  -->

    <router-outlet></router-outlet>

</section>