<section class="nav-search">
    <nav class="nav-container">
        <span class="left-text" id="left-text">
            {{title}}
        </span>

        <div class="input-search-container">
            <input class="input-search" type="text" name="" id="">
            <i class="effectIcon fa fa-search" aria-hidden="true"></i>
        </div>

        <div class="icons-bar">
            <i class="effectIcon fa fa-baby" aria-hidden="true"></i>
            <i class="effectIcon fa fa-bell" aria-hidden="true"></i>
            <i class="effectIcon fa fa-user" aria-hidden="true"></i>
        </div>
    </nav>
</section>